<div class="results">
<h1><center><%=@storage_space.size %> locations match your criteria:</center></h1>
</div>

<div class="container">
  <div class="row">
    <% @storage_space.each do |s| %>
       <%= link_to(storage_space_path(s.id), class: "col-xs-12 col-sm-4") do %>
       <div class="card">
          <h4 style="color: black"><%= s.space %> Square Meters </h4>
          <h4> <%= s.location %></h4>
       </div>
       <% end %>
      <% end %>
  </div>
</div>

