<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,231,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('storage-space.png');">

  <div class="banner-content">
  <h1><strong><%= @storage_space.user.username %></strong></h1>
  <h3><%= @storage_space.location %></h3>

  <%= button_to "Book", new_storage_space_booking_path(@storage_space.id), method: 'get' %>
  </div>
</div>
