<!-- <div class="navbar-wagon">
  <%# link_to root_path, class: "navbar-wagon-brand" do %>
    <%# image_tag "airbnb_logo.png" %>
  <%# end %>


  <div class="navbar-wagon-right hidden-xs hidden-sm">

    # <%# link_to t(".top_call_to_action", default: "facebook"), "#", class: "btn-primary" %>
  </div> -->

<div id="footer" style="padding: 10px">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline" style="padding:10px;">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right" style="padding: 10px;">
        <p>storage 4 shit</p>
      </div>
    </div>
  </div>
</div>
