
<div class="container">
  <h1>Welcome back, <%= @user.username %></center></h1>
  <h2> Your storage space bookings: </h2>

  <div class="row">

    <% @user.bookings.each do |b| %>

    <div class="col-xs-12 col-sm-4">
    <div class="card">
    <h4>Your Booking at <%= b.storage_space.location %></h4>
      <p>This booking is for <%= b.space_required %> Meters Squared.</p>
    </div>
    </div>
    <% end %>

  </div>
</div>
