<h1><%=@storage_space.size %> locations match your criteria:</h1>

<div class="container">
  <div class="row">
    <% @storage_space.each do |s| %>
       <div class="card col-xs-12 col-sm-4">
          <p style="color: black">There's <%= s.space %> square meters of space at <%= s.location %></p>
       </div>
      <% end %>
  </div>
</div>

