<h1>StorageSpace#index</h1>
<div class="container">
  <div class="row">
  <%  @storage_spaces.each do |storage_space| %>
    <div class="col-xs-12 col-sm-4">
     <div class="card">
       <%= storage_space.location %>
       <%= storage_space.user.email %>
     </div>
    </div>
  <% end %>
  </div>
</div>


