<% @storage_space.each do |s| %>
  <%= s.location %>
  <%= s.space %>
<% end %>

<h1>Here are all the storage spaces</h1>

<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <% @storage_space.each do |s| %>
            <h2><%= s.location %></h2>
            <h3><%= s.space %></h3>
          <% end %>
        </div>
      </div>gi
  </div>
</div>

